body{
    
    background-image: linear-gradient( blue ,yellow) ;
}

.navig{
  display: flex;
  margin: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav a{
  text-decoration:none;
  border:3px solid navy;
  border-radius:10px;
  padding:8px;
  background-color: skyblue;
  color: black;
  text-align: center ;
}

nav a:hover{
    background-color: yellow;
    color: blue;
}

header::before{
    content: url("//github.com/Natusya8/natusya8.github.io/blob/main/ehmblema_%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F-removebg-preview.png?raw=true");
    width:  30px;
    height: 30px;
    display: block;
}
