body{
    
    background-image: linear-gradient( blue ,yellow) ;
}

.navig{
  display: flex;
  margin: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  top: 100px;
}

nav a{
  text-decoration:none;
  border:3px solid navy;
  border-radius:10px;
  padding:8px;
  background-color: skyblue;
  color: black;
  text-align: center ;
}
main{
    top:150px;
}
nav a:hover{
    background-color: yellow;
    color: blue;
}

footer{
    
    bottom: 5px;
   
}

head::before{
    url:"ehmblema_removebg-preview-removebg-preview.png";
}

.emblema{
    position:absolute;
}

footer{
    position: fixed;
    bottom: 0px;
}
